/* body {
  background-image: url('../public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
} */
/* App.css
/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: url('../public/background.png') no-repeat center center fixed;
  background-size: cover;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#root {
  position: relative;
  z-index: 1;
  height: 100%; /* Ensure the content takes full height */
}
